all_walls rcdata 'walls.dat'
mod90table rcdata 'mod90table.obx'
mod10table rcdata 'mod10table.obx'
sintable rcdata 'sintable.dat'
vbxe_digit xbmp 'arkanoid_digit.bmp' 0 1
vbxe_data xbmp 'btm.bmp' 0 1
